<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to "Home", root_path, class: "breadcrumb-item" %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Blog", blogs_path, class: "breadcrumb-item" %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @blog.topic.title, @blog.topic,
                  class: "breadcrumb-item active" %>
    </li>
  </ol>
</nav>
