<% provide :title, "Editing blog post" %>

<div class="container">

  <h1>Editing blog post</h1>

  <%= render 'form', blog: @blog, button_label: "Update" %>

  <%= link_to 'Show', @blog %> |
  <%= link_to 'Back', blogs_path %>
</div>
