<% provide :title, "Portfolios" %>
<% provide :keywords, "Portfolios" %>

<h1><%= @title %></h1>
<%= link_to "Create new Portfolio Item", new_portfolio_path if logged_in?(:site_admin) %>

<%= render partial: "portfolio_item", collection: @portfolio_items %>
