<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Dissect</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= render "layouts/shared/nav_links", css_class: "nav-link" %>
    </nav>
  </div>
</header>
